@import "~src/stylings/layout";
/// Description design of user interface
.ui {
  height: 100vh;
}

.contenu {
  background: #cfcfcf;
}

.menu {
  // background: rgb(116, 116, 116);
}

.close-aside {
  width: 0px;
}

nav {
  width: 250px;
}
@media (min-width: $sm-breakpoint) {
  aside {
    position: inherit !important;
  }
}
